/* Estilo general para el cuerpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

/* Encabezado */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    border-bottom: 2px solid #ddd;
}

header img {
    max-height: 80px;
}

header h1 {
    margin: 0;
    font-size: 24px;
    text-align: center;
    flex-grow: 1;
    padding-left: 20px;
}

/* Formulario general */
form {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para etiquetas e inputs */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

/* Ajuste uniforme para todos los inputs */
input[type="text"],
input[type="date"],
input[type="email"],
input[type="tel"],
textarea,
select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input{
    margin-left: 0 !important;
}



/* Alineación y espaciado de secciones */
h2 {
    margin-top: 30px;
    font-size: 20px;
    color: #333;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

h3 {
    font-size: 18px;
}

textarea {
    height: 100px;
}

/* Estilos para los checkboxes de sacramentos */
#sacramentos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.seleccionesSac {
    display: flex;
    align-items: center;
}

.seleccionesSac label{
    margin-right: 4px !important;
}

input[type="checkbox"] {
    margin-bottom: 10px;
}

#idiomas {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.seleccionesIdioma {
    display: flex;
    align-items: center;
}
.seleccionesIdioma label{
    margin-right: 4px !important;
}

input[type="checkbox"] {
    margin-right: 10px;
}

input[type="text"] {
    margin-left: 10px;
}

/* Botón de envío */
button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 20px auto;
}

button:hover {
    background-color: #45a049;
}

/* Pie de página */
footer {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
    font-size: 14px;
    color: #333;
}

footer p {
    margin: 5px 0;
}
